.linking-page{
    margin-top 45px
}
.page-content
    display flex
    justify-content space-between
    margin-top 20px

.linked {
    display: flex;
    flex-direction: column;
    justify-content: space-between
    padding-top:10px;
}

.left {
    width: 70vw;
    display: flex;
}
.end{
    padding-top: 10px;
    margin-right 20px
}