@require "../../styles/colors.styl"

li
    list-style none

.linkage-bin
    height 20vh
    display flex
    flex-direction column
    justify-content space-between

.linked-terms-container
.linkage-bin
    width 20vw
    border-radius 20px
    background-color white
    margin-right 30px

.link-terms
    width 100%

.link-btn
    margin 10px

.drag-child
    width 100%
    margin 0
    padding 0

.linked-terms-container
    height 20vh
    overflow auto
    padding 5px

.link-term-tag
    background-color $secondary-dark
    color $white
    width 90%
    text-align center
    margin 5px
    &:hover
        cursor pointer
        background-color $middle-hue

.non-ideal-state
    color $gray