@require "../../styles/colors.styl"

li
    list-style none

h2 {
    margin: 0;
    margin-bottom: 5px;
}

.linkage-bin
    height 40vh
    padding 5px
    
.linked-terms-container
.linkage-bin
    width 20vw
    background-color white
    display flex
    flex-direction column
    justify-content space-between

.linked-terms-container
    height 30vh
    overflow auto
    padding 5px
    margin-bottom 10px

.link-terms
    width 100%

.drag-child
    width 100%
    margin 0
    padding 0

.link-term-tag
    background-color $secondary-dark
    color $white
    width 90%
    text-align center
    margin 5px
    &:hover
        cursor pointer
        background-color $middle-hue

.non-ideal-state
    color $gray