@require("~@macrostrat/ui-components/lib/esm/index.css")
@require("~@blueprintjs/core/lib/css/blueprint.css")
@require("~@macrostrat/ui-components/src/shared/colors.styl")

$primary-dark = #314448

$secondary-dark = #7c9a92

$middle-hue = #c7d3bf

$light-hue = #7c9a92

$warning = #DB3737

$success = #0F9960

$white = #FFFFFF
$black = #10161A

$light-gray = #CED9E0
$gray = #5C7080

